<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1099060047774-kb6cur29fvgighps66mnmd22jkoutlmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1099060047774-kb6cur29fvgighps66mnmd22jkoutlmp</string>
	<key>API_KEY</key>
	<string>AIzaSyAhxK1VYtih5MbfgYysTQz3KQRRnUBCejU</string>
	<key>GCM_SENDER_ID</key>
	<string>1099060047774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alarmGO</string>
	<key>PROJECT_ID</key>
	<string>alarmgo-1687d</string>
	<key>STORAGE_BUCKET</key>
	<string>alarmgo-1687d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1099060047774:ios:ff231218c8eac956</string>
	<key>DATABASE_URL</key>
	<string>https://alarmgo-1687d.firebaseio.com</string>
</dict>
</plist>